Analizing The Electric_Vehicle_Dataset

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Load the data from csv file to Pandas Dataframe
df=pd.read_excel('/content/Electric_Vehicle_Population.xlsx')

In [ ]:
#printing the first ten rows
df.head(10)

In [ ]:
#printing the last ten rows
df.tail(10)

In [ ]:
#number of rows and columns in the dataset
df.shape

In [ ]:
#getting some information about the data
df.info()

In [ ]:
#check the number of null or missing values in each column
df.isnull().sum()

In [ ]:
#getting the description of the dataset
df.describe()

Handeling the missing values

In [ ]:
#Drop the "Legislative District" column from the Dataframe
if 'Legislative District' in df.columns:
    df=df.drop(columns='Legislative District',axis=1)

In [ ]:
#print the first five rows of the dataset
df.head(5)

In [ ]:
#drop the "Base MSRP" column from the dataframe
if 'Base MSRP' in df.columns:
    df=df.drop(columns='Base MSRP',axis=1)

In [ ]:
#print the first three rows of the dataset
df.head(3)

In [ ]:
#replacing the missing values in "Electric Range" column with the mean value
df['Electric Range'].fillna(df['Electric Range'].mean(),inplace=True)

In [ ]:
#print the first three rows
df.head(3)

In [ ]:
#find the mode value of "2020 Census Tract" column
print(df['2020 Census Tract'].mode())

In [ ]:
print(df['2020 Census Tract'].mode()[0])

In [ ]:
#replacing the missing values in '2020 Census Tract' column with mode value
df['2020 Census Tract'].fillna(df['2020 Census Tract'].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
#Drop the "Vehicle Location" column from the Dataframe
if 'Vehicle Location' in df.columns:
    df=df.drop(columns='Vehicle Location',axis=1)

In [ ]:
df.head(5)

In [ ]:
#replacing the missing values in "County" column with the mean value
common_county = df['County'].mode()[0]
df['County'].fillna(common_county,inplace=True)

In [ ]:
#replacing the missing values in "City" column with the mean value
common_city = df['City'].mode()[0]
df['City'].fillna(common_city,inplace=True)

In [ ]:
#replacing the missing values in "Electric Utility" column with the mean value
common_Electric_Utility = df['Electric Utility'].mode()[0]
df['Electric Utility'].fillna(common_Electric_Utility,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
#replacing the missing values in "Electric Range" column with the mean value
common_Electric_Range = df['Electric Range'].mode()[0]
df['Electric Range'].fillna(common_Electric_Range,inplace=True)

In [ ]:
#replacing the missing values in "Postal Code" column with the mean value
common_Postal_Code = df['Postal Code'].mode()[0]
df['Postal Code'].fillna(common_Postal_Code,inplace=True)

In [ ]:
#replacing the missing values in "2020 Census Tract" column with the mean value
common_2020_Census_Tract = df['2020 Census Tract'].mode()[0]
df['2020 Census Tract'].fillna(common_2020_Census_Tract,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
#find the mode value of "make" column
print(df['Make'].mode())

In [ ]:
print(df['Make'].mode()[0])

In [ ]:
#getting more about the data
df.describe()

In [ ]:
#finding the number of the model made by company
df['Model'].value_counts()

In [ ]:
df['Make'].value_counts()

DATA VISUALIZATION

In [ ]:
#creating a count plot for "make "column
sns.countplot(x='Make',data=df)

In [ ]:
#Pie Chart: EV Type Distribution
ev_type_counts = df['Electric Vehicle Type'].value_counts()

plt.figure(figsize=(7, 7))
plt.pie(ev_type_counts.values, labels=ev_type_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('EV Type Distribution')
plt.axis('equal')
plt.tight_layout()
plt.show()

In [ ]:
#Histogram: Distribution of Model Years
plt.figure(figsize=(10, 6))
plt.hist(df['Model Year'], bins=range(int(df['Model Year'].min()), int(df['Model Year'].max()) + 1), color='teal', edgecolor='black')
plt.title('Distribution of Model Years')
plt.xlabel('Model Year')
plt.ylabel('Number of Vehicles')
plt.show()

In [ ]:
#Line Chart for Growth of Tesla Vehicles by Year
tesla_data = df[df['Make'] == 'TESLA']
tesla_by_year = tesla_data['Model Year'].value_counts().sort_index()

plt.figure(figsize=(12, 6))
plt.plot(tesla_by_year.index, tesla_by_year.values, marker='o', linestyle='-', color='crimson')
plt.title('Growth of Tesla EVs by Model Year')
plt.xlabel('Model Year')
plt.ylabel('Number of Teslas')
plt.show()

In [ ]:
#Scatter Plot: Model Year vs. make
if 'Make' in df.columns:
    plt.figure(figsize=(10, 6))
    plt.scatter(df['Model Year'], df['Make'], alpha=0.3, color='gray')
    plt.title('Scatter Plot: Model Year vs. Make')
    plt.xlabel('Model Year')
    plt.ylabel('Make')
    plt.show()

In [ ]:
# Top 10 Makes (Manufacturers)
plt.figure(figsize=(10, 6))
top_makes = df['Make'].value_counts().head(10)
sns.barplot(x=top_makes.values, y=top_makes.index, palette='viridis')
plt.title('Top 10 Electric Vehicle Makes')
plt.xlabel('Number of Vehicles')
plt.ylabel('Make')
plt.show()

In [ ]:
# Vehicle count by Model Year
plt.figure(figsize=(12, 6))
model_year_counts = df['Model Year'].value_counts().sort_index()
sns.lineplot(x=model_year_counts.index, y=model_year_counts.values, marker='o')
plt.title('Electric Vehicles by Model Year')
plt.xlabel('Model Year')
plt.ylabel('Number of Vehicles')
plt.show()

In [ ]:
# Distribution by Electric Vehicle Type
plt.figure(figsize=(8, 6))
ev_type_counts = df['Electric Vehicle Type'].value_counts()
sns.barplot(x=ev_type_counts.values, y=ev_type_counts.index, palette='coolwarm')
plt.title('Distribution by EV Type')
plt.xlabel('Number of Vehicles')
plt.ylabel('EV Type')
plt.show()

In [ ]:
# Vehicles by County (Top 10)
plt.figure(figsize=(10, 6))
county_counts = df['County'].value_counts().head(10)
sns.barplot(x=county_counts.values, y=county_counts.index, palette='mako')
plt.title('Top 10 Counties by Number of EVs')
plt.xlabel('Number of Vehicles')
plt.ylabel('County')
plt.show()

In [ ]:
# Box plot of model years grouped by EV type
df.boxplot(column='Model Year', by='Electric Vehicle Type')
plt.title('Model Year Distribution by EV Type')
plt.xlabel('Electric Vehicle Type')
plt.ylabel('Model Year')
plt.xticks(rotation=15)
plt.show()